@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  cursor: none;
} */

/* .cu {
  cursor: url("/visit-mouse.svg"), pointer;
} */

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 51, 63, 61;
  --background-end-rgb: 51, 63, 61;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  background: #414141;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #dfe225;
  border: 1px solid #000000;
}

.cursor {
  background-color: #dfe225;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 9999;
}

.thin-scrollbar::-webkit-scrollbar {
  background: #988355;
  width: 3px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border: 0.5px solid #ffffff;
  border-radius: 9999px;
}

.btn-custom {
  @apply uppercase tracking-widest font-bold px-5 py-2.5 transition-all hover:scale-105 active:scale-100 focus:outline-none focus:ring-2 focus:ring-offset-2 prevent-select;
}

::selection {
  background-color: #dfe225;
  color: #282828;
}

::-moz-selection {
  background-color: #dfe225;
  color: #282828;
}

::-webkit-selection {
  background-color: #dfe225;
  color: #282828;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.show-scroll::-webkit-scrollbar {
  display: block;
}

.show-scroll {
  -ms-overflow-style: auto;
  scrollbar-width: auto;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* @keyframes moveLeftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(calc(0%));
  }
}

@keyframes moveRightToLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 948px) {
  .animate-move-left-to-right {
    animation: moveLeftToRight 10s linear infinite alternate;
  }
}

@media (max-width: 948px) {
  .animate-move-right-to-left {
    animation: moveRightToLeft 10s linear infinite alternate;
  }
} */

@keyframes partner {
  0% {
    transform: translateX(-90%);
  }
  100% {
    transform: translateX(10%);
  }
}

@media (max-width: 560px) {
  .partner-animate {
    animation: partner 20s linear infinite alternate;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .animate-scroll {
    animation: scroll 20s linear infinite;
  }
}
